html, body {
    margin:0px;
    padding:0px;
    border:0px;
    left:0px;
    top:0px;
}
p {
    font-size: small;
    text-align: center;
}
#gmail {
    float: right;
    color: green;
    font-size: 15px;
}
/*div.image {
    width:5in;
    height:5in;
    float:left;

}*/
a.link1 {
    text-decoration: none;
    color: blue;
}
a.link1:hover {
    text-decoration:underline;

}
a.top {
    text-decoration: none;
    color: black;
    text-align: right;
}
input[type=text] {
    width: 40%;
    border-radius: 25px;
    border-color: grey;
    background-image: url('img1.jpg');
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
span {
    font-weight: bold;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
    font-size: 150px;

}
a {
    text-decoration: none;
    color: black;
    align-items: baseline;
}
a :hover{
    text-decoration: underline;
}

.button {
    color: black;
    background-color: rgb(233, 227, 227);
    border: grey;
    border-radius: 6px;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.navbar {
    overflow: hidden;
    background-color: rgb(233, 227, 227);
    position:fixed;
    bottom: 0;
    width: 100%;
    
}
.navbar a {
    float: left;
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
}
.navbar a:hover {
    background-color: lightgrey;
    text-decoration: underline;
    color: black;
}
.navbar-right {
    float:right;
}